<div class="container-fluid">
  <div class="row about_margin">
    <div class="col-xs-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Mauris vitae ultricies leo integer malesuada. Cursus sit amet dictum sit amet justo.
        Penatibus et magnis dis parturient montes nascetur ridiculus mus. Risus viverra adipiscing at in tellus integer
        feugiat. Consequat nisl vel pretium lectus. Eget nunc scelerisque viverra mauris in. Ornare arcu odio ut sem
        nulla pharetra. Arcu felis bibendum ut tristique et egestas. Nunc aliquet bibendum enim facilisis gravida.</p>
      <a href="#">Lorem ipsum dolor sit amet</a>
    </div>
    <div class="col-xs-6">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua. Mauris vitae ultricies leo integer malesuada. Cursus sit amet dictum sit amet justo.
        Penatibus et magnis dis parturient montes nascetur ridiculus mus. Risus viverra adipiscing at in tellus integer
        feugiat. Consequat nisl vel pretium lectus. Eget nunc scelerisque viverra mauris in. Ornare arcu odio ut sem
        nulla pharetra. Arcu felis bibendum ut tristique et egestas. Nunc aliquet bibendum enim facilisis gravida.</p>
    </div>
  </div>
  <div class="row about_margin">
    <div class="col-xs-4">
      <label>Contact Us</label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <p>Phone: +374000000</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <p>Email: sample@mail.com</p>
    </div>
  </div>
</div>
