@import "../variables/variables.scss";

:host {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  color: $base;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url(/../assets/images/bubble-bg.png) no-repeat $body-bg;

  a {
    cursor: pointer;
    color: $purple;
  }
}

.margin-bottom {
  margin-bottom: 50px;
}

.textarea-center {
  text-align: center;
}

.glyphicon {
  margin-top: 20px;
  color: $purple;
  font-size: $font-size-large-1;
}

