@import "../../variables/variables.scss";

.home-textarea__large {
  font-size: $font-size-large-3;
  margin-top: 80px;
}

.home-textarea__small {
  font-size: $font-size-large-1;
  margin-top: 20px;
}

