<div class="container-fluid">
  <div class="row home-textarea__large">
    <div class="col-xs-12">
      <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</b></p>
    </div>
  </div>
  <div class="row home-textarea__small">
    <div class="col-xs-12">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-1" routerLinkActive="active">
      <a routerLink="/about" class="dropdown-toggle btn btn-lg" role="button" title="About us">
        <span class="glyphicon glyphicon-info-sign"></span>
      </a>
    </div>
    <div class="col-xs-1" routerLinkActive="active">
      <a routerLink="/rates" class="dropdown-toggle btn btn-lg" role="button" title="Rates">
        <span class="glyphicon glyphicon-euro"></span>
      </a>
    </div>
    <div class="col-xs-1" routerLinkActive="active">
      <a routerLink="/employees" class="dropdown-toggle btn btn-lg" role="button" title="Employees">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </div>
  </div>
</div>
